<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>486612088522-8di1chbqda60jd5u5036kmb2k5ir0iuu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.486612088522-8di1chbqda60jd5u5036kmb2k5ir0iuu</string>
	<key>API_KEY</key>
	<string>AIzaSyAPTYo_4hwCpl4zHwGAQ-yp1hZrpxC3_i8</string>
	<key>GCM_SENDER_ID</key>
	<string>486612088522</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ajiapp</string>
	<key>PROJECT_ID</key>
	<string>ajiapp-d436f</string>
	<key>STORAGE_BUCKET</key>
	<string>ajiapp-d436f.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:486612088522:ios:54d3b711ee6909932be633</string>
</dict>
</plist>